@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-documentBg;
  }

  .btn-primary {
    @apply px-1 cursor-pointer hover:opacity-95 active:scale-95 origin-left z-50;
  }
  h1 {
    @apply pb-1;
  }
  h2 {
    @apply text-lg font-medium;
  }
  input,
  textarea {
    @apply bg-inputBg rounded-[15px] h-[49px] p-2 shrink;
  }

  section {
    overflow-y: hidden;
  }

  .bubble {
    @apply hidden md:block;
  }

  input::placeholder,
  textarea::placeholder {
    @apply text-gray-700 opacity-25;
  }
}

@layer utilities {
  .cursor-dot {
    --size: 20px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 0;
    transition: 300ms all cubic-bezier(0.075, 0.82, 0.165, 1);
    mix-blend-mode: darken;

    display: grid;
    place-items: center;
  }
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: none;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 5px;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
