@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply px-1 cursor-pointer hover:opacity-95 active:scale-95 origin-left select-none;
  }
  h1 {
    @apply pb-1;
  }
  input {
    @apply border-2 border-zinc-300;
  }
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 5px;
}
