@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-documentBg;
  }

  .btn-primary {
    @apply px-1 cursor-pointer hover:opacity-95 active:scale-95 origin-left select-none;
  }
  h1 {
    @apply pb-1;
  }
  input,
  textarea {
    @apply bg-inputBg rounded-[10px] h-[49px] p-4;
  }

  section {
    overflow-y: hidden;
  }

  .bubble {
    @apply hidden md:block;
  }

  input::placeholder,
  textarea::placeholder {
    @apply text-gray-700 opacity-25;
  }
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: none;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 5px;
}
